.brand-logo.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5%; /* Adjust as needed */
}

.barra-pesquisa input{
    background-color: white;
    color: white;
}
