#adicionar {
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 10px;
    margin-top: 10px;
}

body.swal2-shown > [aria-hidden='true'] {
    transition: filter;
    filter: blur(4px);
}